.services__title {
    text-align: center;
    color: rgb(84, 84, 250);
}

.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
}


/* responsive */
@media only screen and (max-width:576px) {
    .services__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width:992px) {
    .services__container {
        grid-template-columns: repeat(2, 1fr);
    }
}